body {
    background-image: url("https://raw.githubusercontent.com/tesseract-fr-en/tesseract-fr-en.github.io/main/Images/map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}